<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<%- include('partials/header', {titulo: 'Página Home'}) %>
<body>
    <main>
        <h1>Home Ateliê</h1>
        
        <hr>

    <h2>Pedidos</h2>
    <a href="/pedidos/novo" class="btn btn-primary mb-3">Novo Pedido</a>
        
        <% if (typeof pedidos !== 'undefined' && pedidos.length > 0) { %>
            <ul>
                <% pedidos.forEach(function(pedido) { %>
                    <li class="cards-pedidos">
                        <strong>Costureiro:</strong> <%= pedido.Nome_Costureiro %> <br>
                        <strong>Estado:</strong> <%= pedido.Estado %> <br>
                        <strong>Descrição:</strong> <%= pedido.Descricao %> <br>
                        <strong>Valor:</strong> <%= pedido.Valor_Total %> <br>
                        <strong>Data:</strong> <%= pedido.Data_Pedido %> <br>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>Nenhum pedido cadastrado no momento.</p>
        <% } %>

    </main>
</body>
</html>